form .form-control {
  padding: 12px;
}

form .form-control label {
  font-weight: 500;
  margin-right: 10px;
}

form .form-control input,
form .form-control select {
  padding: 12px;
  font-size: 18px;
  border: 1px solid #6e6e6e6e;
  border-radius: 5px;
}